@charset "UTF-8";

/*
    Em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body{
    background-color: rgb(205, 255, 203);
}

h1 {
    color: rgb(4, 109, 0);

}

h1#principal {
    text-align: center;
    background-color:  rgb(4, 109, 0);
    color: white;
}

h2 {
    color: rgb(51, 77, 49);

}

.basico {
    color: aqua;
}

.intermediario {
    color: blueviolet;
    font-weight: bold;
}

.destaque {
    background-color: yellowgreen;
}